.container-left{
    width: 55%;
    height: 100%;
    float: left;
}
.encabezado{
    background: white;
    height: 20%;
    border-bottom: 1px solid;
}
.img-index{
    margin-top: 5px;
    width: 500px;
    margin-left: 70px;
}
.container-right{
    width: 45%;
    background: #191970;
    display: flex;
    margin-left: 450px;
    margin: 0px;
    border-bottom-left-radius: 150px;
}
.img-logo{
    border: 1px solid ;
    margin-top: -10px;
    border-radius: 50%;
    width: 90px;
    height: 110px;
    margin-left: 100px;
}
.container-right h3{
    width: 100%;
    font-size: 26px;
    font-weight: 300;
    margin-top: 30px;
    margin-left: 15px;
    text-align: center;
    font-weight: bold;
}
.encabezado-index{
    width: 100%;
    justify-content: space-between;
    position: relative;
}
input[type=text]{
  text-transform: capitalize;
}
.inputC input[type=checkbox]{
  padding-right: 5px;
  border-color : #7CFC00!important;
}
.sidebar{
    background: #191970;
}
[class*=sidebar-dark-] {
    background-color: #191970 !important;
}

.navbar-white {
    width: 50%;
    height: 45px;
    margin-top:5px;
}
.main-footer {
    background: #191970 !important;
    border-left: none;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #7CFC00!important;
}

.card-info:not(.card-outline)>.card-header {
    background-color: #7CFC00!important;
}

.btn-info {
    background-color: #7CFC00!important;
    border-color: #7CFC00!important;
}
.navbar-white {
    width: 81.4%;
}
.card-header {
    background-color:  #7CFC00!important;
}
.card-title {
    color: white;
}
.iconP{
    color: white;
}
.btn-primary {
    background-color: #191970 !important;
    border-color: #191970 !important;
}
.btn-primary:hover{
  background-color: rgba(#0B5345,.5) !important;
  border-color: rgba(#0B5345,.5) !important;
}
.btn-secondary {
    background-color: #191970 !important;
    border-color: #191970 !important;
}
.btn-secondary:hover{
  background-color: rgba(#0B5345,.5) !important;
  border-color: rgba(#0B5345,.5) !important;
}
.modal-header {
  color : white !important;
  background-color: #7CFC00!important;
  border-color: #7CFC00!important;
}
.btn-danger {
    color : white !important;
    background-color: #7CFC00!important;
    border-color: #7CFC00!important;
}
.btn-award{
  color : white !important;
  background-color: #28B463  !important;
  border-color: #28B463  !important;
}
.btn-vision{
  color : white !important;
  background-color: #039BE5 !important;
  border-color: #039BE5 !important;
}
.btn-warning {
    color : white !important;
    background-color: #008B8B!important;
    border-color: #008B8B!important;
}
.form-control {
  background-color: rgba(#154360  ,.05)!important;
  opacity: 1;
}
.form-control:disabled, .form-control[readonly] {
  background-color: rgba(#154360  ,.05)!important;
  opacity: 1;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(#007bff,.05)!important;
}
.page-item.active .page-link {
    background-color: #191970 !important;
    border-color: #191970 !important;
}
#icon-iconos{
  margin-right: 10px;
}
.list-Dates{
  list-style: none;
  font-size: 16px;

}
#movimiento{
  margin-top: 15px;
  margin-bottom: -5px;
}
hr{
  background-color: #7CFC00!important;
  border:2px solid #7CFC00!important;
  margin-left: 0px;
  width: 80%;
}
@media (min-width: 320px) and (max-width: 480px){
  .container-left{
    display: none!important;
  }
  .container-right{
    width: 100%;
    border-bottom-left-radius: 0px;
  }
  .img-logo{
    margin-left: 20px;
    width: 60px;
    height: 70px;
  }
  .container-right h3{
    font-size: 18px;
    margin-top: 25px;
    margin-left: -5px;
  }
}

@media (min-width: 480px) and (max-width: 760px){
  .container-left{
    display: none!important;
  }
  .container-right{
    width: 100%;
    border-bottom-left-radius: 0px;
  }
  .img-logo{
    margin-left: 20px;
    width: 90px;
    height: 110px;
  }
  h3 #container-title{
    font-size: 22px;
    margin-top: 25px;
    margin-left: 40px;
  }
}
@media (min-width: 992px){
    .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .main-footer, .sidebar-mini.sidebar-collapse .main-header {
        width: 90%;
    }
}


